/*********************************FONT STYLE*****************************************/
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../font/OpenSans/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Light";
  src: url("../font/OpenSans/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/OpenSans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../font/OpenSans/OpenSans-SemiBold.ttf") format("truetype"); }
.font-family-bold {
  font-family: "OpenSans-Bold", sans-serif; }

.font-family-semi-bold {
  font-family: "OpenSans-SemiBold", sans-serif; }

.font-family-light {
  font-family: "OpenSans-Light", sans-serif; }

.font-family-regular {
  font-family: "OpenSans-Regular", sans-serif; }

/***********************************COLORS STYLE*******************************************/
/************************************ICON STYLES*****************************************************/
.icon {
  width: 26.4px;
  height: 18.55px;
  display: inline-block;
  vertical-align: sub; }

.icon-next {
  width: 28.8px;
  height: 12.44px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #000000; }
  .icon-next.icon-direct {
    mask-image: url("../images/icon/Path (1).png");
    -webkit-mask-image: url("../images/icon/Path (1).png"); }

.text-18 {
  font-size: 18px; }

body {
  background-color: #f8f8fa; }
  body nav .navbar-nav .nav-item {
    border-top: #d6d6e0 3px solid;
    width: 195px; }
    body nav .navbar-nav .nav-item .nav-link {
      font-size: 15px;
      color: #aeaeaf; }
    body nav .navbar-nav .nav-item:hover {
      border-top: #de1e3a 3px solid; }
      body nav .navbar-nav .nav-item:hover .nav-link {
        color: #000000; }
  body header {
    background-color: #ffffff; }
  body main {
    background-color: #003846; }
    body main section#OnlineAcademy .container {
      position: relative; }
      body main section#OnlineAcademy .container .row .col-6 h3 {
        font-size: 60px; }
      body main section#OnlineAcademy .container .row .col-6 p {
        font-size: 22px; }
      body main section#OnlineAcademy .container .row .col-6 .removeBg img {
        width: 586px;
        height: 794px; }
      body main section#OnlineAcademy .container .row:nth-child(2) {
        position: absolute;
        left: 30px;
        bottom: -270px; }
        body main section#OnlineAcademy .container .row:nth-child(2) .col-6 {
          height: 270px;
          background-color: #f8f8fa;
          border: 0.3px white solid; }
          body main section#OnlineAcademy .container .row:nth-child(2) .col-6 .row .col-5 p {
            font-size: 23px; }
          body main section#OnlineAcademy .container .row:nth-child(2) .col-6:nth-child(1) {
            background-color: #0a4958; }
      body main section#OnlineAcademy .container button {
        position: absolute;
        bottom: -330px;
        left: 530px; }
    body main section#Courses {
      background-color: white;
      padding-top: 350px; }
      body main section#Courses .container h4 {
        font-size: 35px; }
      body main section#Courses .container .table tr td:nth-child(2) {
        color: #737373; }
      body main section#Courses .container .table tr td:nth-child(3) {
        color: #737373; }
      body main section#Courses .container .table tr td:nth-child(4) {
        color: #737373; }
      body main section#Courses .container .table tr:hover td {
        color: white;
        background-color: #003846; }
      body main section#Courses .container .table tr:hover .icon-next {
        background-color: white; }
      body main section#Courses .container .row .card .oval {
        width: 167px;
        height: 167px;
        border-radius: 50%;
        background-color: #003846;
        position: relative; }
        body main section#Courses .container .row .card .oval img {
          position: absolute;
          left: -78px;
          bottom: -60px; }
      body main section#Courses .container .row .card p {
        font-size: 16.2px; }
      body main section#Courses .container .row .card:nth-child(2) .oval img {
        position: absolute;
        left: -70px;
        bottom: -85px; }
      body main section#Courses .container .row .card:nth-child(3) .oval img {
        position: absolute;
        left: -8px;
        bottom: -10px; }
      body main section#Courses .container .row .card:nth-child(4) .oval img {
        position: absolute;
        left: -10px;
        bottom: -12px; }
      body main section#Courses .container .row .card:nth-child(5) .oval img {
        position: absolute;
        left: 22px;
        bottom: -18px; }
    body main section#info {
      background-color: #f8f8fa; }
      body main section#info .container h4 {
        font-size: 35px; }
      body main section#info .container .row .col-10 .col-7 p {
        font-size: 22px; }
      body main section#info .container .row .col-10 .col-7 h6 {
        font-size: 18px; }
      body main section#info .container .row .col-10 .col-7 .carousel {
        position: relative; }
        body main section#info .container .row .col-10 .col-7 .carousel .carousel-indicators {
          position: absolute;
          top: 310px;
          left: -360px; }
          body main section#info .container .row .col-10 .col-7 .carousel .carousel-indicators li {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px #bebebe solid; }
          body main section#info .container .row .col-10 .col-7 .carousel .carousel-indicators .active {
            background-color: #2f2f2f; }
      body main section#info .container .row .col-2 {
        position: relative; }
        body main section#info .container .row .col-2 img {
          width: 330px;
          height: 335px; }
          body main section#info .container .row .col-2 img:nth-child(2) {
            width: 248px;
            height: 251px;
            position: absolute;
            left: 115px;
            top: 40px; }
      body main section#info .container div {
        position: relative; }
        body main section#info .container div .hover {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 1158px;
          height: 113px;
          background-color: rgba(248, 248, 250, 0.7); }
  body footer li {
    font-size: 14px; }

#page-2 {
  background-color: white; }
  #page-2 main {
    background-color: white; }
    #page-2 main .container .row .col-4 .card .card-header {
      background-color: white; }
      #page-2 main .container .row .col-4 .card .card-header div h6 {
        font-size: 14px; }
      #page-2 main .container .row .col-4 .card .card-header div p {
        font-size: 12px; }
    #page-2 main .container .row .col-4 .card .card-body img {
      width: 13.33px;
      height: 13.33px;
      margin-top: 3px; }
    #page-2 main .container .row .col-4 .card .card-body p {
      font-size: 12px; }
    #page-2 main .container .row .col-4 .row .col-6 .image-row {
      position: relative; }
      #page-2 main .container .row .col-4 .row .col-6 .image-row img:nth-child(2) {
        position: absolute;
        left: 18px;
        top: 2px; }
      #page-2 main .container .row .col-4 .row .col-6 .image-row img:nth-child(3) {
        position: absolute;
        left: 37px;
        top: 2px; }
    #page-2 main .container .row .col-4 .card-checkbox .card-body {
      background-color: #f0f0f0; }
      #page-2 main .container .row .col-4 .card-checkbox .card-body .form-check .form-check-label h6 span {
        font-size: 16px; }
    #page-2 main .container .row .col-4 .card-checkbox .card-footer {
      background-color: #63c19c; }
      #page-2 main .container .row .col-4 .card-checkbox .card-footer button {
        font-size: 20px; }
      #page-2 main .container .row .col-4 .card-checkbox .card-footer p {
        font-size: 16px; }
    #page-2 main .container .row .col-8 .programsOfCourses nav .navbar .navbar-nav .nav-item {
      border-top: 0;
      width: auto; }
      #page-2 main .container .row .col-8 .programsOfCourses nav .navbar .navbar-nav .nav-item .nav-link {
        font-size: 14px; }
        #page-2 main .container .row .col-8 .programsOfCourses nav .navbar .navbar-nav .nav-item .nav-link:hover {
          border-bottom: 2px #2f2f2f solid; }
    #page-2 main .container .row .col-8 .programsOfCourses div#accordion .card-link .row .col-5 h6 {
      font-size: 14px; }
    #page-2 main .container .row .col-8 .programsOfCourses div#accordion .card-link .row .col-5 p {
      font-size: 12px; }
    #page-2 main .container .row .col-8 .programsOfCourses div#accordion .card-link .row .col-3 img {
      width: 14.4px;
      height: 14.4px; }
    #page-2 main .container .row .col-8 .programsOfCourses div#accordion .card-link .row .col-3 .path img {
      width: 12px;
      height: 6px; }
    #page-2 main .container .row .col-8 .programsOfCourses div#accordion .card-body .col-5 p {
      font-size: 12px; }
    #page-2 main .container .row .col-8 .programsOfCourses div#accordion .card-body .col-5 h6 {
      font-size: 14px; }
  #page-2 footer {
    background-color: #f8f8fa; }

#page-3 {
  background-color: #f8f8fa; }
  #page-3 main {
    background-color: #f8f8fa; }
    #page-3 main .container .row .col-4 .card .card-header {
      background-color: white; }
      #page-3 main .container .row .col-4 .card .card-header div h6 {
        font-size: 14px; }
      #page-3 main .container .row .col-4 .card .card-header div p {
        font-size: 12px; }
    #page-3 main .container .row .col-4 .card .card-body img {
      width: 13.33px;
      height: 13.33px;
      margin-top: 3px; }
    #page-3 main .container .row .col-4 .card .card-body p {
      font-size: 12px; }

/*# sourceMappingURL=main.css.map */
